version: '3'

services:
  backend:
    container_name: 'kpd-backend'
    build:
      context: backend
      dockerfile: Dockerfile
    env_file: .env
    restart: on-failure
    ports:
      - '8001:4000'
    depends_on:
      - postgres

  postgres:
    container_name: 'kpd-database'
    image: postgres:12.12-alpine
    restart: on-failure
    env_file: .env

  frontend:
    container_name: 'kpd-frontend'
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - '81:8081'